.page{
padding-top: 5px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
border-style: solid;
border-color: gray;
border-width: 0.5px;
margin-left: 10px;
color: black;
}.page:hover{
    background-color: orange;
    border-color: orange;
    color: white;
}.page:active{
    background-color: red;
}
.page_div{
    
    float: left;
    margin-left:40%;
    margin-right: 20%;
    margin-bottom: 2%;
}
.nav{
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search{
    margin-top: 20px;
    margin-left:20%;
}
.serach_box{
  outline: none;
  border: none;
  background: none;
  border-bottom-color:  #4e9a97;
  border-bottom-style: solid;
  color:black;
  border-width: 1.5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.search_icon{
    color:  #4e9a97;
}
.se_div{
    position: fixed;
    margin-left: 21%;
    z-index: 1;
    margin-top: 50px;
}
li:hover{
    color: #620DE4;
}
.se_ul{
    border-radius: 5px;
}
.error_img{
    width: 80%;
    height: 80%;
    margin-left:10%;
    margin-right: 10%;
    margin-top:30px;
}
.btn1{
    background-color:  #4e9a97;
    border:none;
    color: white;
    width: 75px;
    border-radius: 20px;
    outline: none;
}
.btn1:hover{
    box-shadow: 0.9px 0.9px 3px 0.9px black;
}
.spoof{
    font-family: 'Pacifico', cursive;
    font-size:23px;
    position: absolute;
     margin-top:15px;
     margin-left:3%;
     color:#620DE4;
}
@media (max-width:425px){
    .serach_box{
        width: 120px;
    }
    .search{
        margin-left: 120px;
    }
    .btn1{
        width: 50px;
        margin-bottom: 10px;
        font-size: 7px;
        height: 20px;
 }
 .spoof{
    font-size: 20px;
    margin-top: 23px;
    margin-left:2px;
}

}
/* @media (max-width:425px){
    .spoof{
        font-size: 14px;
        margin-top: 23px;
        margin-left:2px;
    }
} */
