.log_div{
    width:100%;
    background-color:#D1ECF1;
    border-radius:5px;
    height:auto;
}
.log_txt{
    color:blueviolet;
    font-size:18px; 
    /* text-align:center; */
    margin-top:10px;
    font-family: 'Fredoka One', cursive;
}

.log{
    color:gray;
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
}
.log:hover{
    color: blue;
}